<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under the Barbell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="//db.onlinewebfonts.com/c/d2c52a64cb362f280d891dd4980160e5?family=Edo" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div id="container">

        <!-- HEADER -->
        <div id="nav" class="d-flex align-items-center justify-content-center">
            <div class="right-nav">
                <ul class="list-nav d-flex justify-content-center">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li><a href="/welcome">Dashboard</a></li> -->
                    <li><a href="/registration_page">Log In</a></li>
                </ul>
            </div>
        </div>

        <div class="below-nav-bar-logo d-flex justify-content-center">
            <img src="../static/imgs/words_small_crop.jpg" alt="logo">
        </div>

        <!-- CONTENT -->
        <div class="about_content d-flex">
            <div class="portrait">
                <img src="../static/imgs/mick.jpeg" alt="Mick Janusko">
                <h3>Dr. Mick Janusko</h3>
                    <p>PT, DPT, MTC, CSCS, CSAC, CCWC, CSNC</p>
            </div>
            <div class="bio">
                <p>Dr. Mick Janusko received his Doctorate (2014) and his Manual Therapist Certification (2016) from
                    the University of Saint Augustine. Dr. Janusko’s focus since graduating from Physical Therapy school
                    has been on improving his ability to make a difference in the sports therapy world. He received his
                    CSCS in 2018 and has been working with both injured patients and the performance athlete since.
                    Mick's treatment strategy includes early manual therapy techniques to help reduce pain, followed by
                    working the athlete back to their sport by incorporating specific functional exercises.</p>

                <p>Mick, his
                    wife Kaylee (a pediatric physical therapist), daughters Ella (4) and Claire (2), and his dog Dallas
                    live in Saint Augustine. Mick grew up playing all sports but especially loved Basketball, Pole
                    Vaulting, and Soccer. His journey toward becoming a physical therapist began after a knee injury his
                    junior year of high school. This injury prevented him from reaching his dream of becoming a
                    collegian athlete. His time in therapy led him down his current path in the performance world.</p>
            </div>
        </div>
        <div>
            <!-- <img src="/Users/janusko/Desktop/Coding/underthebarbell/static/imgs/rectangle.jpg" class="image" alt="rectangle logo"> -->
        </div>
    </div>
</body>

</html>