<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under the Barbell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="//db.onlinewebfonts.com/c/d2c52a64cb362f280d891dd4980160e5?family=Edo" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>

    <div id="container">

        <!-- HEADER -->
        <div id="nav" class="d-flex align-items-center justify-content-center">
            <div class="right-nav">
                <ul class="list-nav d-flex justify-content-center">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/registration_page">Log In</a></li>
                </ul>
            </div>
        </div>

        <div class="below-nav-bar-logo d-flex justify-content-center">
            <img src="../static/imgs/words_small_crop.jpg" alt="logo">
        </div>


        <!-- CONTENT -->
        <div class="contact-us d-flex">
            <div class="contact-left">
                <div class="contact-info">
                    <h4>Mick is currently working as a contract physical therapist at Magnify Health in Ponte Vedra Beach, FL. Please reach out to us using any of the links below.</h4>
                    <p>Magnify Health & Rehabilitation</p>
                    <p>6988 US-1 Suite 306, St. Augustine, FL 32095</p>
                    <p>(904) 534-0805</p>
                </div>
                <div>
                    <ul class="social-links d-flex justify-content-start">
                        <li><a href="https://www.instagram.com/magnify.health.mick/" class="instagram"><img src="../static/imgs/social_media_logos/insta.png" alt="Instagram"></a></li>
                        <li><a href="https://www.facebook.com/Magnify.Health.Mick/" class="facebook"><img src="../static/imgs/social_media_logos/facebook.png" alt="Facebook"></a></li>
                        <li><a href="mailto: m11janusko@gmail.com" class="email"><img src="../static/imgs/social_media_logos/email.jpeg" alt="Email"></a></li>
                    </ul>
                </div>
            </div>
            <div class="contact-right">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13820.935111442159!2d-81.39020169731899!3d30.001443027469584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e42f9a3479968b%3A0x1ccf4944b6e279af!2sMagnify%20Health%20%26%20Rehabilitation!5e0!3m2!1sen!2sus!4v1661119398715!5m2!1sen!2sus"
                    width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
    </div>
</body>

</html>