<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
        {% endfor %}


        <div class="navbar d-flex justify-content-between mb-5 mt-2">
            <h1>Under the Barbell</h1>
            <div>
                <a href="/welcome" class="btn btn-success">Dashboard</a>
                <a href="/workouts" class="btn btn-primary">Workouts</a>
                <a href="/users/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>


        <div class="d-flex justify-content-between mb-2 mt-2">
            <h3>Let's get to work, {{user.first_name}}</h3>
        </div>
        <div class="workout_links border border-secondary rounded d-block align-items-center p-3 mb-5">
            <h1 class="text-center mb-5">Warm Ups: Hamstring Sweeps</h1>
            <div class='d-flex justify-content-evenly'>
                <div class="mt-3">
                    <ul>
                        <h3>Notes for Hamstring Sweeps:</h3>
                        <li>Slightly bend one leg and shift weight to that side</li>
                        <li>Bring the opposite leg out in front straight</li>
                        <li>Sweep arms down toward the ground and forward</li>

                    </ul>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VmTDCd-52rw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="/workouts/new" class="btn btn-primary mt-5">Add to your workout</a>
            </div>
        </div>
    </div>
</body>

</html>