<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Workout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="//db.onlinewebfonts.com/c/d2c52a64cb362f280d891dd4980160e5?family=Edo" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/new_workout.css">
</head>

<body>
    <div class="">

        <div class="navbar d-flex justify-content-between">
            <h1><a href="/">Under the Barbell</a></h1>
            <div>
                <a href="/welcome" class="btn btn-light btn-dashboard">Dashboard</a>
                <a href="/users/logout" class="btn btn-danger btn-logout">Logout</a>
            </div>
        </div>


        <h3 class="welcome-name">Add to your workouts!</h3>
        <div class="flash">
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
        
        <form action="/workouts/create" method="post" class="form">
            <div class="add-form d-flex justify-content-between">
                <!-- NAME AND DESCRIPTION -->
                <div>
                    <label for="name">Workout Name:</label>
                    <select name="name" id="name" class="form-control">
                        <option value="Air Squats">Air Squats</option>
                        <option value="Chest Presses">Chest Presses</option>
                        <option value="Planks">Planks</option>
                        <option value="Kettlebell RDL">Kettlebell RDL</option>
                        <option value="Warm Ups">Warm Ups</option>
                        <option value="Self Assessments">Self Assessments</option>
                        <option value="Regression or Progression?">Regression or Progression?</option>
                        <option value="Deadlifting Mistakes">Deadlifting Mistakes</option>
                    </select>

                    <!-- names and id don't have to match. id is for label and name is for dictionary -->
                    <label for="reps">Number of Reps:</label>
                    <input type="number" name="reps" id="reps" class="form-control">
                    <label for="description">Workout Notes:</label>
                    <textarea name="description" id="description" cols="40" rows="5" class="form-control"
                        placeholder="Provide as much detail as possible; how were you feeling, did you have any pains, etc. We want to be able to reference your workouts in the future."></textarea>
                    <label for="date">Date of Workout</label>
                    <input type="date" name="date" id="date" class="form-control">
                    <button class="btn btn-dark">Submit</button>
                </div>
                <div class="right-logo">
                    <img src="{{ url_for('static', filename='imgs/square.jpg') }}" alt="logo">
                </div>
            </div>
            
        </form>
    </div>
</body>

</html>