@import url(//db.onlinewebfonts.com/c/d2c52a64cb362f280d891dd4980160e5?family=Edo);

@font-face {
    font-family: "Edo";
    src: url("//db.onlinewebfonts.com/t/d2c52a64cb362f280d891dd4980160e5.eot");
    src: url("//db.onlinewebfonts.com/t/d2c52a64cb362f280d891dd4980160e5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d2c52a64cb362f280d891dd4980160e5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d2c52a64cb362f280d891dd4980160e5.woff") format("woff"), url("//db.onlinewebfonts.com/t/d2c52a64cb362f280d891dd4980160e5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d2c52a64cb362f280d891dd4980160e5.svg#Edo") format("svg");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
    font-family: sans-serif;
}



/* GENERIC */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}



/* BODY */

a {
    text-decoration: none;
}


/* NAV BAR */

.navbar {
    background-color: rgb(10,86,216);
    box-shadow: 6px 6px black;
    color: white;
    width: 100%;
    height: 100px;
}

.navbar .btn-dashboard, .btn-workouts {
    color: rgb(10,86,216);
}

/* .navbar .btn-workouts {
    color: white;
} */

.navbar .btn {
    margin-right: 10px;
}

.navbar .btn-logout {
    margin-right: 40px;
}

.navbar li {
    margin: 40px;
}

.navbar h1 {
    margin-left: 40px;
}

.navbar a {
    color: white;
    font-family: "Edo";
}

.below-nav-bar-logo {
    width: 100%;
}

.navbar h1 a {
    color: white;
    text-shadow: 2px 2px black;
}



.welcome-name {
    margin: 50px 0 20px 100px;
}


/* ADD FORM */

.form {
    margin: 20px 0 20px 100px;
    background-color: rgb(10,86,216);
    color: white;
    width: 35%;
    height: auto;
    border: 2px solid black;
    box-shadow: 6px 6px black;
    font-weight: lighter;
    padding: 20px 20px;
    border-radius: 20px;
}

.add-form input, select, textarea {
    margin-bottom: 10px;;
}

.add-form .btn {
    margin-top: 10px;
}

.form-control {
    width: 400px;
}

.flash {
    margin-left: 100px;
}



/* IMAGE */

.right-logo img {
    width: 400px;
    margin-left: 60%;
    margin-top: 60px;
}

.btn {
    font-family: "Edo";
}